<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../vendors/materialize/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
  <title>Weather | Weekly</title>
</head>

<body>
  <main id="main" class="container">
    <div class="row">
      <div id="main-container" class="col s10 offset-s1 m6 offset-m3">
        <div class="row">
          <table class="col s10 offset-s1">
            <tr id="0" class="day">
              <td class="week-icon">
                <img src="../assets/images/clear-day.svg" alt="">
              </td>
              <td class="week-day">Día 1</td>
              <td class="center-align">
                1
              </td>
              <td class="center-align">
                2
              </td>
            </tr>
            <tr id="1" class="day">
              <td class="week-icon">
                <img src="../assets/images/clear-day.svg" alt="">
              </td>
              <td class="week-day">Día 2</td>
              <td class="center-align">
                1
              </td>
              <td class="center-align">
                2
              </td>
            </tr>
            <tr id="2" class="day">
              <td class="week-icon">
                <img src="../assets/images/clear-day.svg" alt="">
              </td>
              <td class="week-day">Día 3</td>
              <td class="center-align">
                1
              </td>
              <td class="center-align">
                2
              </td>
            </tr>
            <tr id="3" class="day">
              <td class="week-icon">
                <img src="../assets/images/clear-day.svg" alt="">
              </td>
              <td class="week-day">Día 4</td>
              <td class="center-align">
                1
              </td>
              <td class="center-align">
                2
              </td>
            </tr>
            <tr id="4" class="day">
              <td class="week-icon">
                <img src="../assets/images/clear-day.svg" alt="">
              </td>
              <td class="week-day">Día 5</td>
              <td class="center-align">
                1
              </td>
              <td class="center-align">
                2
              </td>
            </tr>
            <tr id="5" class="day">
              <td class="week-icon">
                <img src="../assets/images/clear-day.svg" alt="">
              </td>
              <td class="week-day">Día 6</td>
              <td class="center-align">
                1
              </td>
              <td class="center-align">
                2
              </td>
            </tr>
            <tr id="6" class="day">
              <td class="week-icon">
                <img src="../assets/images/clear-day.svg" alt="">
              </td>
              <td class="week-day">Día 7</td>
              <td class="center-align">
                1
              </td>
              <td class="center-align">
                2
              </td>
            </tr>
          </table>
        </div>
      </div>
      <a id="btn-back" class="waves-effect waves-light btn col s10 offset-s1 m6 offset-m3">Regresar</a>
    </div>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="../vendors/materialize/js/materialize.min.js"></script>
  <script src="../js/weekly.js"></script>
</body>

</html>